
@-webkit-keyframes loading-button {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes loading-button {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes loading-button {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes loading-button {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
  position: relative;
  opacity: .8;
  color: transparent !important;
  text-shadow: none !important;

 	&:hover,
 	&:active,
 	&:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
	}

	&:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    -webkit-animation: loading-button 1s ease-in-out infinite;
    -moz-animation:    loading-button 1s ease-in-out infinite;
    -o-animation:      loading-button 1s ease-in-out infinite;
    animation:         loading-button 1s ease-in-out infinite;
	}
}
