@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, "Raleway", Helvetica, sans-serif;
	font-family: 'Raleway', sans-serif;
	background: #EFF4F9;
	color: #333;
	overflow: auto;
}

header {
	text-align: center;
}


h1 {
	font-size: 40px;
	font-weight: 100;
	height: 50px;
	margin: 0;
	padding: 0;
	color: #43A4AE;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content {
	padding: 0 5% 5% 5%;
}
.button-xlarge {
  font-size: 125%;
}

.build-url {
	text-decoration: underline;
	cursor: pointer;
}

.main {
	padding-bottom: 50px;
}

.pure-form legend {
  font-size: 20px;
}

.export-button {
  margin-right: 1em;
}

.build-card {
	background: #fff;
	margin: 8px;
	width: 400px;
	height: 200px;
	padding: 15px;
	float: left;
	color: #fff;
	box-sizing: border-box;
  background-color: #fafafa;

	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;

  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.4);
     -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.4);
          box-shadow: 0 5px 8px -6px rgba(0,0,0,.4);
}

.build-card{

  &.loading {
  	background: #FFF;
  	border: 1px solid #eeeeee;
  	border-left: 10px solid #EEE;
  }

  h2 {
    margin-top: 40px;
    font-size: 24px;
    height: 50px;
    font-weight: bold;
  }

  .branch {
  	font-weight: bold;
  }
  p {
  	font-size: 14px;
  }

  &.error{
  	border-left: 10px solid #D94341;
  	color: #D94341;

    a {
    	font-weight: bold;
    	color: #D94341;
    }
  }



  &.pending{
    -webkit-animation: blinkPendingCard 2.5s infinite; /* Safari 4+ */
    -moz-animation:    blinkPendingCard 2.5s infinite; /* Fx 5+ */
    -o-animation:      blinkPendingCard 2.5s infinite; /* Opera 12+ */
    animation:         blinkPendingCard 2.5s infinite;

  	border-left: 10px solid #F1C40F;
  	color: #F1C40F;

    a {
    	font-weight: bold;
    	color: #F1C40F;
    }
  }

  .build-icon {
  	font-size: 30px;
  	height: 30px;
  }

  &.unknown{
  	border-left: 10px solid #D94341;
  	color: #969896;

    a {
      font-weight: bold;
      color: #969896;
    }
  }

  &.success,
  &.error,
  &.pending,
  &.unknown {
    .build-card-remove-wrapper {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      color: #888;
      text-align: right;
      position: relative;

      .build-card-remove {
        cursor: pointer;
        border-radius: 50%;
        padding: 10px;
        float: right;
        transition: background-color .3s, text-shadow .3s;
        position: absolute;
        right: 10px;
        display: block;
      }
    }

    &:not(:hover) {
      .build-card-remove {
        display: none;
        padding: 10px;
      }
    }
  }

  &.success {
  	border-left: 10px solid #44A662;
  	color: #44A662;
  }

}


@-webkit-keyframes blinkPendingCard {
  0% {
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
  50% {
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-left: 10px solid #EFDD92;
    color: #EFDD92;
  }
  100% {
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
}
@-moz-keyframes blinkPendingCard {
  0% {
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
  50% {
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-left: 10px solid #EFDD92;
    color: #EFDD92;
  }
  100% {
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
}
@-o-keyframes blinkPendingCard {
  0% {
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
  50% {
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-left: 10px solid #EFDD92;
    color: #EFDD92;
  }
  100% {
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
}
@keyframes blinkPendingCard {
  0% {
    border: 1px solid transparent;
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
  50% {
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-left: 10px solid #EFDD92;
    color: #EFDD92;
  }
  100% {
    border: 1px solid transparent;
    border-left: 10px solid #F1C40F;
    color: #F1C40F;
  }
}
