#load-content{
  height: 100%;
  width: 100%;
  background-color: #0097a7;
  position: fixed;
  z-index: 999999;
}

.loader {
  background: #ffffff;
  -webkit-animation: bootstrap-app 1s infinite ease-in-out;
  animation: bootstrap-app 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  top: 33%;
  right: 50%;
  text-indent: -9999em;
  margin: 88px auto;
  position: absolute;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

	&:before,
	&:after {
	  background: #ffffff;
	  -webkit-animation: bootstrap-app 1s infinite ease-in-out;
	  animation: bootstrap-app 1s infinite ease-in-out;
	  width: 1em;
	  height: 4em;
	}

	&:before,
	&:after {
		position: absolute;
		top: 0;
		content: '';
	}

	&:before {
		left: -1.5em;
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	&:after {
	  left: 1.5em;
	}
}

@-webkit-keyframes bootstrap-app {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes bootstrap-app {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
