.notify-success:before {
    content:'\f00c';
}

.notify-error:before {
    content:'\f057';
}

.notify-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.notify-error {
  color: #D8000C;
  background-color: #FFBABA;
}

.notify-success,
.notify-error {
  padding:10px;
  margin:10px 0;

	&:before {
		font-style:normal;
		font-weight:400;
		speak:none;
		display:inline-block;
		text-decoration:inherit;
		width:1em;
		margin-right:.2em;
		text-align:center;
		font-variant:normal;
		text-transform:none;
		line-height:1em;
		margin-left:.2em;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
}
